body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
}

body {
    background: black;
}

#board {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;

}

#overlay {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.4);
}